[{{ odbc_database_name }}]
Description = {{ odbc_description }}
Trace = {{ odbc_trace }}
TraceFile = {{ odbc_trace_file }}
Driver = {{ odbc_driver }}
SERVER = {{ odbc_server }}
USER = {{ mysql_user }}
PASSWORD = {{ mysql_user_password }}
PORT = {{ odbc_port }}
DATABASE = {{ odbc_database_name }}
OPTION = {{ odbc_mysql_option | default("") }}
SOCKET = {{ odbc_mysql_socket }}
READTIMEOUT = {{ odbc_mysql_read_timeout }}
WRITETIMEOUT = {{ odbc_mysql_write_timeout }}
