[{{ odbc_database_name }}]
Description = {{ odbc_description }}
Trace = {{ odbc_trace }}
TraceFile = {{ odbc_trace_file }}
Driver = {{ odbc_driver }}
Servername = {{ odbc_server }}
UserName = {{ pg_management_user }}
Password = {{ pg_management_password }}
Port = {{ odbc_port }}
Database = {{ odbc_database_name }}
ReadOnly = {{ odbc_pg_read_only }}
RowVersioning = {{ odbc_pg_row_versioning }}
ShowSystemTables = {{ odbc_pg_show_system_tables }}
ShowOidColumn = {{ odbc_pg_show_oid_column }}
FakeOidIndex = {{ odbc_pg_fake_oid_index }}
ConnSettings = {{ odbc_pg_conn_settings }}
