JDBC_DATA_SOURCE={{ acs_db_user }}/{{ acs_db_password }}@{{ db_host }}:{{ db_port }}/{{ acs_db_name }}
CWMP_JDBC_DATA_SOURCE={{ acs_db_user }}/{{ acs_db_password }}@{{ db_host }}:{{ db_port }}/{{ acs_db_name }}
DATABASE_VENDOR={{ db_type }}
CWMP_DATABASE_VENDOR={{ db_type }}
MESSAGE_BROKER_ADDRESS={{ rabbitmq_host }}:{{ rabbitmq_port }}
MESSAGE_BROKER_USERNAME={{ rabbitmq_user }}
MESSAGE_BROKER_PASSWORD={{ rabbitmq_password }}
MULTICAST_NOTIFICATION_REGION_ID={{ multicast_region_id }}
REPOSITORY_BASE_URL={{ repository_base_url }}
UMSCORBALOC={{ ums_host }}:{{ ums_port }}
