IPMS_CORBA_PORT={{ ipms_corba_port }}
IPMS_DBPASSWORD={{ mysql_user_password }}
IPMS_DBUSERNAME={{ mysql_user }}
IPMS_DBID={{ ipms_db_name }}
IPMS_DBTYPE=ODBC
IPMS_UMSCORBA_PORT={{ ipms_umscorba_port }}
