IPMS_CORBA_PORT={{ ipms_corba_port }}
IPMS_UMSCORBA_PORT={{ ipms_umscorba_port }}
IPMS_DBPASSWORD={{ pg_management_password }}
IPMS_DBUSERNAME={{ pg_management_user }}
IPMS_DBID={{ ipms_db_name }}
IPMS_DBTYPE=ODBC
