[{{ ums_db_name }}]
DRIVER = MySQL
DESCRIPTION = ODBC Driver
SERVER = {{ ums_db_host }}
PORT = {{ ums_mysql_port }}
USER = {{ mysql_user }}
PASSWORD = {{ mysql_user_password }}
DATABASE = {{ ums_db_name }}
OPTION = 4194304
SOCKET = /var/run/mysqld/mysqld.sock
READTIMEOUT = 10
WRITETIMEOUT = 10
