[{{ ums_db_name }}]
Description = Incognito Software
Driver = PostgreSQL
Trace = Yes
TraceFile = /tmp/sql.log
Database = {{ ums_db_name }}
Servername = {{ ums_db_host }}
UserName = {{ pg_management_user }}
Password = {{ pg_management_password }}
Port = {{ ums_postgresql_port }}
Protocol = {{ postgresql_version }}
ReadOnly = No
RowVersioning = No
ShowSystemTables = No
ShowOidColumn = No
FakeOidIndex = No
ConnSettings =
