[{{ ums_db_name }}]
DRIVER = MySQL
DESCRIPTION = ODBC Driver
SERVER = {{ ums_db_host }}
SOCKET = /var/lib/mysql/mysql.sock
PORT = {{ ums_mysql_port }}
USER = {{ mysql_user }}
PASSWORD = {{ mysql_user_password }}
DATABASE = {{ ums_db_name }}
