JDBC_DATA_SOURCE={{ mysql_user }}/{{ mysql_user_password }}@{{ ies_db_host }}:{{ ies_db_port }}/{{ ies_db_name }}
DATABASE_VENDOR={{ ies_db_type }}
AUTH_METHOD={{ ies_auth }}
MESSAGE_BROKER_ADDRESS={{ rabbitmq_host }}:{{ rabbitmq_port }}
MESSAGE_BROKER_USERNAME={{ rabbitmq_user }}
MESSAGE_BROKER_PASSWORD={{ rabbitmq_password }}
MULTICAST_ADDRESS={{ ies_multicast_address }}
MULTICAST_NOTIFICATION_REGION_ID={{ ies_multicast_region_id }}
UMSCORBALOC={{ ies_ums_host }}:{{ ies_ums_port }}
