DB_URL=mongodb://{{ db_host }}/{{ db_name }}
LOGLEVEL={{ loglevel }}
FLUSH={{ flush }}
FRAUD_DETECTION_INTERVAL={{ fraud_detection_interval }}
SMTPRELAYHOSTNAME={{ smtp_relay_hostname }}
SMTPEMAIL={{ smtp_email }}
SMTPTIMEOUT={{ smtp_timeout }}
