MESSAGE_BROKER_ADDRESS={{ rabbitmq_host }}:{{ rabbitmq_port }}
MESSAGE_BROKER_USERNAME={{ rabbitmq_user }}
MESSAGE_BROKER_PASSWORD={{ rabbitmq_password }}
MULTICAST_NOTIFICATION_REGION_ID={{ multicast_region_id }}
UMSCORBALOC={{ ums_host }}:{{ ums_port }}
