AUTH_METHOD={{ AUTH_METHOD }}
JDBC_DATA_SOURCE={{ sdm_db_user }}/{{ sdm_db_password }}@{{ sdm_db_host }}/{{ sdm_db_name }}
DATABASE_VENDOR={{ sdm_db_type }}
DATA_PURGE_START_TIME={{ DATA_PURGE_START_TIME }}
MESSAGE_BROKER_ADDRESS={{ rabbitmq_host }}:{{ rabbitmq_port }}
UMSCORBALOC=*:{{ ums_port }}
LOGLEVEL={{ LOGLEVEL }}
