AUTH_METHOD=CENTRAL
UMSCORBALOC=*:{{ndp_ums_port}}
JDBC_DATA_SOURCE={{ mysql_user }}/{{ mysql_user_password }}@{{ ndp_db_host }}/{{ ndp_db_name }}
DATABASE_VENDOR={{ ndp_db_type }}

# IP/BLOCKS TO SCAN
BACKGROUND_EXISTING_DEVICES_ENABLED=TRUE
LOGLEVEL=L1
ENABLE_SHAREDIP_DETECTION=yes
UNRESPONSIVE_DEVICE_LIFETIME=1
MOCKDEVICERANGE=10.88.88.0-10.88.88.255
MOCKDEVICEHOST=192.168.75.107
DISCOVERED_IP=192.168.75.107-192.168.75.107
